ModelForge/finetuned_models/*
ModelForge/model_checkpoints/*
model_checkpoints/
finetuned_models/
training_logs/
datasets/
ModelForge/datasets/*
ModelForge/training_logs/
*/__pycache__/*
ModelForge/__pycache__/
ModelForge/utilities/__pycache__/*
ModelForge/utilities/tests/
*.pyc
.env
*.db
*.sqlite
dist/
dist/*
ModelForge.egg-info/*
ModelForge.egg-info/
*.egg-info
*.lock
unsloth_compiled_cache/*
# MkDocs build directory
site/
.claude/
*/.claude/*